{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}

// 安装打包所需的babel配置
// npm i -D babel-preset-env babel-preset-stage-0 babel-preset-react babel-plugin-transform-runtime babel-plugin-transform-decorators-legacy

// 启动babel运行环境
// npm i -D babel-core babel-polyfill