extends ./layouts/default

block title
  title emma


block content
  .mdui-container
    .mdui-row
      .mdui-col-md-8
        h1 Hi #{you}
        p this is #{me}
      .mdui-col-md-4
        p test
